<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h3>Tipo de pago: <%= payment_type %></h3>

    <h3>Referencia externa: <%= external_reference %></h3>
    
    <h3>ID de pago: <%= collection_id %></h3>

</body>
</html>